/* Sidebar under TOC */
#sidebar-ad {
	width:300px;
	height:250px;
	background-color:#444444;
	display:block;
	text-align:center;
	margin:7px 0 5px 0;
	position:relative;
}

/* At the top over the content */
#top-ad {
	overflow:hidden;
	width:100%;
	margin-top:10px;
}

/* In the content */
.content-ad {
	clear:left;
	margin-bottom:10px;
	margin-top:10px;
}
h1 + .content-ad,
h2 + .content-ad,
h3 + .content-ad,
h4 + .content-ad,
h5 + .content-ad,
h6 + .content-ad {
	margin-top:0;
}