/* Sidebar under TOC */
/* stylelint-disable-next-line selector-max-id */
#sidebar-ad {
	width: 300px;
	min-height: 250px;
	display: block;
	text-align: center;
	margin: 7px 0 5px 0;
	position: relative;
}

/* At the top over the content */
/* stylelint-disable-next-line selector-max-id */
#top-ad {
	overflow: hidden;
	width: 100%;
	margin-top: 10px;
	min-height: 90px;
}

@media ( max-width: 767px ) {
	/* stylelint-disable-next-line selector-max-id */
	#top-ad {
		min-height: 50px;
	}
}

/* In the content */
.content-ad {
	clear: left;
	margin-bottom: 10px;
	margin-top: 10px;
}

h1 + .content-ad,
h2 + .content-ad,
h3 + .content-ad,
h4 + .content-ad,
h5 + .content-ad,
h6 + .content-ad {
	margin-top: 0;
}
